.highlights-subheadings {
  margin-bottom: 0;
}
.paragraph-spacing {
  margin-top: 0;
}
.paragraph-spacing-education {
  margin-bottom: 0;
  margin-top: 0;
}
.paragraph-spacing-special {
  margin-bottom: 0;
}
.save-spacing {
  white-space: pre;
}
